

<div class="container w-100">
  <div class="row w-50 center-block">
    <h1 class="text-left">welcome to <i class="fas fa-book"></i><strong>Bookers</strong>!!</h1>
    <div>
    <p class="text-left">In <i class="fas fa-book"></i><strong>Bookers</strong>,</p>
    <p class="text-left">you can share and exchange your opinions , inpressions , and emotions</p>
    <p class="text-left">about various books!</p>
    </div>
  </div>
<div class="row button flex-column w-100 ">
  <button type="button" class="btn btn-info btn-primary btn-lg btn-block col-md-6 col-md-offset-6 mx-auto"><a href="/users/sign_in">Log in</a></button>
  <button type="button" class="btn btn-success btn-primary btn-lg btn-block col-md-6 mx-auto"><a href="/users/sign_up">Sign Up</a></button>
</div>

</div>